doctype html
html
  head
    title Express Practicing
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
  body
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
        if user
          li.nav-item.sty.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
        if user
          li.nav-item.sty
            a.nav-link(href='/articles/add') Add Article
          li.nav-item.sty
            a.nav-link(href='/users/logout') Logout
        else
          li.nav-item.sty
            a.nav-link(href='/users/register') Register
          li.nav-item.sty
            a.nav-link(href='/users/login') Login
  .container
    br
    != messages('message', locals)
    if errors
      each error, i in errors
        div(class=" alert alert-danger") #{error.msg}
    block content
    br
    hr
    footer
      p Copyright &copy;
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js')
  script(src='/js/main.js')